.custom-card-1 {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;

  &-body {
    padding: 2rem;
  }

  .title {
    font-size: 2rem;
    color: $color-primary;
    text-align: left;
    padding: 1rem;
    margin: 1rem 1rem 0;

    &--bottom {
      height: 0.5rem;
      width: 3rem;
      background-color: $color-light-blue;
    }
  }

  .btn {
    margin: 0.5rem;
  }
}

.custom-card-2 {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  height: min-content;
  background-color: $color-background-primary-lighter;

  &-body {
    padding: 2rem;
  }

  .title {
    font-size: 2rem;
    color: $color-primary;
    text-align: left;
    padding: 1rem;
    margin: 1rem 1rem 0;
    text-transform: uppercase;

    $parent: &;

    &__function-name {
    }

    .view {
      background-color: $color-light-blue;
    }
    .nonpayable {
      background-color: $color-new-orange;
    }
    .payable {
      background-color: $color-new-red;
    }

    &__state-mutability {
      color: white;
      font-size: small;
      padding: 0.5rem;
      border-radius: 2px;
      position: absolute;
      right: 2rem;
    }

    &__bottom {
      height: 0.5rem;
      width: 3rem;
      background-color: $color-light-blue;
    }
  }

  .field-label {
    background-color: $color-background-primary-lighter;
    text-transform: capitalize;
    border: none;
  }

  .btn {
    margin: 0.5rem;
  }
}

.custom-card-3 {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  height: min-content;

  max-width: fit-content;

  &-body {
    padding: 2rem;
  }

  .title {
    font-size: 2rem;
    color: $color-primary;
    text-align: center;
    padding: 1rem;
    margin: 1rem 1rem 0;

    &--bottom {
      height: 0.5rem;
      width: 3rem;
      background-color: $color-light-blue;
    }
  }

  .card-body {
    text-align: center;
  }

  .btn {
    margin: 0.5rem;
  }
}

.nft-card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 30rem;

  &__img {
    width: 100%;
    height: 15rem;
  }

  &__key,
  &__field {
    text-align: left;
  }

  &__key {
    font-weight: 600;
    color: $color-primary;
  }
}

.nft-auction-card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 30rem;

  &__title {
    span {
      padding-left: 5px;
    }
    text-transform: uppercase;
  }

  &__timer {
    color: $color-new-green;
  }

  &__img {
    width: 100%;
    height: 15rem;
  }

  &__key,
  &__field {
    text-align: left;
  }

  &__key {
    font-weight: 600;
    color: $color-primary;
  }
}

.nft-card,
.nft-auction-card {
  .btn {
    float: right;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.nft-skeleton {
  &__title {
    margin-bottom: 2rem;
  }
  width: 30rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.nft-empty-cards {
  padding: 1rem;
  text-align: center;
  background: white;
  width: 100%;
  display: flex;
  justify-content: center;

  .emptyCard {
    width: 15rem;

    &__title,
    &__line {
      margin-bottom: 1rem;
      border-radius: 3px;
    }

    &__title {
      height: 5rem;
      background: lighten(lightgrey, 10);
    }

    &__line {
      height: 1rem;
      background: lighten(lightgrey, 10);
    }

    .text {
      text-transform: uppercase;
    }
  }
}
