.mint-nft {
  background-color: white;

  .mint-form {
    padding: 1rem;
    border: 1px solid lightgrey;

    &__title {
      text-align: center;
      color: $color-primary;
      font-size: $overall-font-primary;
      margin-bottom: 1rem;
      font-weight: 600;
      border-bottom: 1px solid $color-primary;
    }

    &__submit {
      float: right;
    }
  }

  .details {
  }
}
