$main-panel-bottom-pad: 1rem;

.src-app {
  display: relative;
  height: 100vh;
  width: 100%;
}

.main-panel {
  padding: 1rem;
  height: calc(100vh - #{$header-height});
  display: flex;
}

.component-panel {
  padding: 1rem;
  border-radius: 1rem;
}
